[submodule "HUAnnotate-data"]
	path = HUAnnotate-data
	url = https://github.com/hetutrechtsarchief/HUAnnotate-data.git
[submodule "data"]
	path = data
	url = https://github.com/hetutrechtsarchief/HUAnnotate-data.git
