body {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  overflow: hidden;
  overscroll-behavior-x: none; /* disable 'back' swipe gesture*/
}

canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.toolbar {
  background-color: silver;
  padding: 2px 2px 2px 2px;
  width: 30px;
  /*height: 150px;*/
}

.toolbar button {
  width: 30px;
  height: 30px;
  padding: 0 0 0 0;
}

.toolbar button:focus {
  outline: none;
  box-shadow: none;
}

.toolbar button img {
  width: 20px;
  height: 20px;
}

.toolbar button.selected {
  background-color: #aaa;
}

