.btn {
    &--action {
        background: var(--c-1);
        padding: 1rem;
        text-align: center;
        color: white;
        font-weight: bold;
        width: fit-content;
    }

    &--link {
        text-decoration: underline;
        color: var(--c-3);
    }

    &--link:hover {
        cursor: pointer;
    }
}