.screen {
    display: grid;
    grid-template-rows: var(--header-height) 1fr;
    min-height: 100vh;

    &__viewer {
        @include wh(100%);
    }

    &--view &__content {
        display: grid;
        grid-template-columns: 1fr;
    }

    &--view &__content[details-visible] {
        grid-template-columns: 1fr 25vw;
    }
}