.screen-import {
    padding: 4rem;
    transition: 300ms background;
    background: var(--c-1);
    width: 100%;
    height: calc(100vh - var(--header-height));
    @include flex-center;

    &[dragover] {
        background: var(--c-2);
    }

    &__help,
    &__error {
        text-align: center;
        color: white;
    }

    &__help {
        font-size: 2.4rem;
        font-weight: bold;
    }

    &__error {
        font-size: 2rem;
    }
}